*{
  padding: 0;
  margin: 0;
  border: 0;
  word-spacing: 4px;
  
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 1700px) {
html,body{
  font-size: calc(8px + (16-8) * ((100vw - 320px) / (1700 - 320)));
}
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*zeroing*/



html{
height: 100%;
width: 100%;
}
body{
  height: 100%;
  min-height: 100%;
  width: 100%;
}

h1{
  position: absolute;
  z-index: -1;
}

.wrapper{
  height: 100%;
  min-height: 600px;
  width: 100%;
  min-width: 100%;
  background: url(../jpg/opel.jpg) center/cover no-repeat;
  display: flex;
  position: relative;
  font-family: "AcademyCTT_Bold";
  font-weight: 900;
  overflow: auto;
}
header{
  height: 7.5em;
  width: 100%;
  display: flex;
  flex-direction: space-between;
  align-items: center;
  background-color: #231f20bb;
  position: fixed;
  top: 0;
  /*calc(300px - 70 * (100vw / 1280));*/
  outline: 2px solid #27599A;
  z-index: 15;
}
.namber{
  height: 100%;
  position: absolute;
  right: 2em; top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ki{
  height: 1.25em;
  width: 13.5em;
  display: flex;
  font-size: 1.25em;
  z-index: 30;
  border-right: 1px solid #243248;
  transform: matrix(1, 0, -0.3, 1, 0, 0);
}
.mts{
  height: 1.25em;
  width: 13.5em;
  display: flex;
  align-items: center;
  font-size: 1.25em;
  z-index: 30;
  border-right: 1px solid #243248;
  transform: matrix(1, 0, -0.3, 1, 0, 0);
}
.ki img{
  width: 1.1em;
  height: 1.1em;
  margin-right: 4px;
}
.ki span{
  margin-right: 0.3em;
  color: #009CF9;
}
.ki a{
  display: inline-block;
  width: 10.5em;
  color: #F6F962;
  text-shadow: 1px 2px 2px #363b1e;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 2px;
}
.mts img{
  width: 1.1em;
  height: 1.1em;
  margin-right: 4px;

}
.mts span{
  margin-right: 0.3em;
  color: #ff2037;
}
.mts a{
  display: inline-block;
  width: 10.5em;
  color: #F6F962;
  text-shadow: 1px 2px 2px #363b1e;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 2px;
}


.logo{
  height: 5em;
  width: 16em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #243248;
  transform: matrix(1, 0, -0.3, 1, 0, 0);
  margin-left: 2em;
  overflow: hidden;
}
.name-logo{
  width: 100%;
  font-size: 5em;
  text-shadow: 1px 2px 2px #1d2641;
  letter-spacing: 4px;
  color: #009CF9;
}


.post{
  display: inline-block;
  /*background-image: url(../jpg/post.png);
  background-repeat: round;*/
  height: 7rem;
  width: 16rem;
  position: absolute;
  margin-top: 232px;
  left: 3%;
  z-index: 20;
  /*transform: rotate(-1.5deg);
  margin-right: 1%;
  left: -35px; top: 300px;*/
}
.post a{
  display: inline-block;
  font-size: 18px;
  font-style: italic;
  color: #BEBDB8;
  margin-top: 70px;
  transform: rotate(-1deg);
}
.post a:hover{
color: #FCFBF4;
text-decoration: underline;
}


.name{
  width: 25em;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -5em; top: 7.5em;
  border-radius: 0 0 0 2em;
  transform: matrix(1, 0, -0.15, 1, 0, 0);
  background-color: #231f20bb;
  border-left: 2px solid #27599A;
  border-bottom: 2px solid #27599A;
  z-index: 50;
  /*top: calc(300px - 70 * (100vw / 1280)); right: 0;*/
}
.name span{
  display: block;
  margin-right: 2em;
  letter-spacing: 0.43em;
  text-shadow: 1px 2px 2px #1d2641;
  font-size: 2.6em;
  font-weight: 600;
  color: #009CF9;
}
.content{
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  height: 100%;
  position: absolute;
  left: 15%;
  z-index: 10;
}

footer{
  position: absolute;
  bottom: 0;
  height: 4em;
  width: 100%;
  z-index: 20;
}
.footer_rel{
  background-color: #231f20c7;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
  

.footer_rel .order span{
display: inline-block;
margin-right: 2px;
font-family: "ADV";
color: #77b3cf;
font-size: 0.6em;
letter-spacing: 1.5px;
}
.order{
  display: block;
  position: absolute;
  display: flex;
  align-items: center;
}

.order img{
height: 1.1em;
width: 1.1em;
margin: 0px 4px 0px 0px;
}

.order a{
  display: block;
  margin: 3px 4px 0px 4px;
  font-family: "ADV";
  color: #77b3cf;
  font-size: 0.5em;
  letter-spacing: 1px;
}
/*adaptive*/

/*@media (max-width: 767px) {h1{font-size: calc(7px + (15 + 15 * 0.7) * ((100vw - 320) / 1280));}}*/
/*html body{font-size: calc(7px + 15 * (100vw / 1280));}*/


/*adaptive*/